#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ModResetRaidCooldowns configuration
########################################
#
#    ModResetRaidCooldowns.Enable
#        Description: Enable ModResetRaidCooldowns
#        Default:     1 - Enabled
#                     0 - Disabled

ModResetRaidCooldowns.Enable = 1

#    ModResetRaidCooldowns.EnableForHeroics
#        Description: Reset cooldowns in Heroic Dungeons
#        Default:     0 - Disabled
#                     1 - Enabled

ModResetRaidCooldowns.EnableForHeroics = 0

#
#    ModResetRaidCooldowns.CombatTimeRequiredInSeconds
#        Description: Required amount of time, in seconds, to be in combat with boss
#        Default:     30

ModResetRaidCooldowns.CombatTimeRequiredInSeconds = 30

#
#    ModResetRaidCooldowns.DoResetArenaSpells
#        Description: Remove cooldowns on spells that have less than 10 minutes of cooldown from the Player
#                     similarly to when you enter an arena.
#        Default:     1 - Enabled
#                     0 - Disabled

ModResetRaidCooldowns.DoResetArenaSpells = 1

#
#    ModResetRaidCooldowns.DoResetPetCooldowns
#        Description: Reset pet Cooldowns and clear their sated/exhaustion debuff
#        Default:     0 - Disabled
#                     1 - Enabled

ModResetRaidCooldowns.DoResetPetCooldowns = 0

#
#    ModResetRaidCooldowns.Spells
#        Description: A list of spells
#                     Example: ModResetRaidCooldowns.Spells="42650, 2062, 2894, 1122"
#                     The default resets the following cooldowns:
#                     42650 army of the dead
#                     2062 earth elemental totem
#                     2894 fire elemental totem
#                     1122 inferno
#        Default:   "42650, 2062, 2894, 1122"

ModResetRaidCooldowns.Spells = "42650, 2062, 2894, 1122"

#
#    ModResetRaidCooldowns.Categories
#        Description: A list of Categories
#                     Example: ModResetRaidCooldowns.Categories="26"
#                     The default resets Rebirth (26) for players
#        Default:   "26"

ModResetRaidCooldowns.Categories = "26"
